/*
	Elements properties definition
*/

html, body {

	background-color: #FFFFFF;

}
	
/*
	IDs properties definition
*/


/*
	Classes properties definition
*/

.blank-row {
	background-color: #FFFFFF;
	height: 25px;
}

.green-square {
	height: 85px;
	background-color: #00FF00;
}


/*
	Media sizes definition
*/

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}